extends ../layouts/main.pug

block content
    div.HOME
        div.homeArea1 
            section.homequickMenu
                div.homeArea__quickMenu__box.quickBox
                    i.fab.fa-js-square
                    p JavaScrept
                div.homeArea__quickMenu__box.quickBox
                    i.fas.fa-database
                    p MongoDb
                div.homeArea__quickMenu__box.quickBox
                    i.fab.fa-node-js
                    p Node-js
                div.homeArea__quickMenu__box.quickBox
                    i.fab.fa-react
                    p React
        div.homeArea2  
            div.homeArea2__col1 
            div.homeArea2__col2 
                h1 BLOG
                h2 [JavaScript] [MongoDb] [Node.js] [React]
                h2 Welcome This Blog. If You Need Any Code
                h2 This Blog Is Helpful. Let's Show!







                